.loginDiv{
    border-width: .2ch;
    border-color: black;
    border-style: solid;
    width: 30vw;
    height:50vh;
    position: relative;
    left: 35vw;
    top:17vh;
    // display:flex;
    background-color:#FF9770;
    border-radius: 8px 10px;
    // justify-content: center;
}
.loginBackground{
    background-color:pink;
    height:100vh;
    justify-content: center;
}

.helo{
    margin-left:12vw;
    color:white;
    font-size: 6ch;
    font-family: 'Open Sans', sans-serif;

}
.wink{
    margin-left:11vw;
}
.inputs{
    display:flex;
    justify-content: space-evenly ;
    flex-direction: column ;
    width:10vw;
}

.buttons{
    display:flex;
    justify-content:space-evenly;
    margin-top:25px;

}
.username, .password{
    display: flex;
    margin-left:70px;
    margin-top:20px;
    color:white;
}
.u, .passwordInput{
    margin-right: 40px;
}

.loginButton, .registerButton{
    height:35px;
    width:75px;
    color:white;
    background-color:#403D39 ;

}



